#mainGame{
  width: 600px;
  height: 600px;
  background: black;
  margin: 0 auto;
}

.box{
  height: 197px;
  width : 197px;
  background-color: red;
  display: inline-block;
}

.green{
}

.blue{
}

#Winner{
  text-align: center;
  font-weight: 200px;
  font-size: 70px;
  color: green;
}