#mainGame{
  width: 690px;
  height: 690px;
  background: black;
  margin: 0 auto;
}

.box{
  height: 225px;
  width : 225px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  margin: 1px;
  margin-bottom: 5px;
}


#Winner{
  text-align: center;
  font-weight: 200px;
  font-size: 70px;
  color: green;
  margin-right: 5px;
}


.xoro{
  font-weight: 700px;
  text-align: center;
  font-size: 80px;
}


